@font-face {font-family: roboto-regular;src: url("../fonts/roboto-regular.eot")}
@font-face {font-family: roboto-regular;src: url("../fonts/roboto-regular.ttf")}
@font-face {font-family: daxlinepro-light;src: url("../fonts/daxlinepro-light.eot")}
@font-face {font-family: daxlinepro-light;src: url("../fonts/daxlinepro-light.ttf")}

/****all pagescss*****/
h1,h3{color:#333;font-family:roboto-regular !important;font-weight: lighter !important;line-height: 1.1;}
p{color:#333;font-size:18px;}
body{font-family:roboto-regular !important;color:#333;background:#F7FAFF;}

.dashboard .page-header{margin-top:auto}
.select-home{padding:0 0 2em;border-bottom:2px solid #dadada;}
.select-home label,.select-home select{margin-right:13px;}
.select-home select{border: 1px solid #dadada;padding: 6px 15px;}

.page-section{padding:2em 0 0;}
.control-group .control{margin-top:4px}
.image-wrapper .image-item .remove-image{left:0}
.form-field.col-md-12,.doctor-part.col-md-12{clear:both}
.form-group{padding:2em 0;text-align:center;}
.form-group label{margin: 0 0 1em;float: left;width: 100%;font-size: 19px;}
#upload-media,#support-image{display:none;}
.image-div{display:none;}
.image-div,.edit-img{background:#eee;margin:2em 0;padding:2em;text-align:center;}
.image-div img,.edit-img img{float:none;margin:auto;width:auto;max-width:100%;}
.pic_url{margin:2em 0;}
.media_inner{width: 22.8%;cursor:pointer;display:inline-grid;float: left;height: 170px;border:1px solid #ddd;padding:12px 0;background:#fff;margin:0 10px 25px;text-align: center;}
.media_file{cursor:pointer;width: auto;max-width: 150px;max-height:150px;margin:auto;}
.popup_pic img{max-width: 100%;width: auto;}
.page-action .export{position:relative;top:-8px}

.btn.btn-primary{background:#1ED1BE;}
.control-group a{color:#0995CD}
.navbar-top{text-align:center}
.navbar-top .navbar-top-left{float:left}
.menu-item > a >span.icon{padding:0 5px 0 0;font-size:18px;}
.menu-item .aside-nav{border-top: 1px solid rgba(255, 255, 255,0.2);}
.aside-nav ul{padding:0}
.navbar-top .navbar-menu {display:inline-block}
.navbar-top .navbar-menu ul{padding:0;margin:auto;list-style:none}
.navbar-top .navbar-menu li{display:inline-block;margin:auto}
.navbar-top .navbar-menu li a {
	color: #fff;
	font-size: 16px;
	padding: 14px;
	line-height: 2;
	display: inline-block;
}
.navbar-top .navbar-menu li a:hover{color:#eee}
.dealer-role .menu-item .aside-nav,.dealer-role > div > .navbar-left,.dealer-role #page-content-wrapper #menu-toggle-genxt{display:none}
.dealer-role #sidebar-wrapper{min-height:0;margin:auto !important;}
.dealer-role .page-action > div{
    float: left;
    width: 100%;
}
.content-container .content .page-header .control{padding:8px 10px}
.navbar-menu .dropdown-toggle{display:none}
.dealer-role .content-container{padding-left:0}
.navbar-top-right .profile{float:right;border-left:1px solid rgba(255,255,255,0.1)}
.navbar-top .navbar-top-right .profile-info{padding:10px 0 8px}
.navbar-left ul.menubar li.menu-item a{padding:10px 20px;display:inline-block;width:100%}
.navbar-left ul.menubar li.menu-item.active a {color: #fff;}
.navbar-left ul.menubar li.menu-item.active > .aside-nav li.active a,
.navbar-left ul.menubar li.menu-item.active a:hover {color: #fff;}
.navbar-left ul.menubar li.menu-item.active > .aside-nav li{margin:auto}

.control-group .control {
    width: 100% !important;
    margin-top: 0;
    background: #E3ECF0;
    border: 1px solid #c7c7c7 !important;
    border-radius: 0;
}
.control-group input.control,.control-group select.control{margin:auto}
.control-error{
color: #ff5656;
margin: 12px;
float: left;
width: 100%;
font-size: 15px;
}
.content-container .content .page-content{background:#fff;border:1px solid #c7c7c7;padding:3em 2em;}
.content-container .content .page-content.media-page{background:#eee;}
.form-fields,.form-field,.doctor-part{padding:0;}
.form-field .control-group.col-md-12{width:100%;}
.form-field .control-group.col-md-4{width:33.33333333%;}
.form-field .control-group.col-md-6{width:50%;float:left}
.form-field .control-group.col-md-8{width:66.66666667%;}
.form-field .control-group.col-md-2{width:16.66666667%;padding-left:0;}
.form-field .control-group.col-md-1{width:8.33333333%;padding-left:0;}
.form-field .control-group.col-md-5{width:41.66666667%;}


.form-field .control-group.col-md-4, .form-field .pass{padding-left:0;}
.form-field .control-group.col-md-8,.form-field .cpass{padding-right:0;}
.page-content .user-sec.form-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-width: 320px;
}
.dealer-role .control-group,.form-field .control-group label{width:100%;}
.percent{
position: absolute;
right: 15px;
bottom: 10px;
}
.dealer-role .table table thead th{font-size:16px}
.dropdown-header{font-size:14px}
.dealer-role .tab .nav-tabs{margin:auto auto 30px;min-height:50px}
.dealer-role .page-contents{background:#fff}
.table table thead th{background: #1395CD;color: #fff;}
.table table thead th,.table table thead td{text-align:center;}
.sub-btn{padding:2em 0;}
.points_text{float: right;
position: absolute;
top: 44px;
right: 10px;
}

.discount-part{margin:auto auto 10px}
.send-link {
	margin: 1em auto 2em;
	float: left;
	width: 100%;
}
.doctor-grp{display:none;border:1px solid #DFE8F6;background:#DFE8F6;height:100px;padding:10px;margin:0 0 1em;}
.multipleInput-doctor{float:left;padding:0 10px;}
.dt-ord{margin:28px 0 0;}
.doctor-grp.active{display:block;}
.discount-inner .control-group.col-md-1 {
	float: right;
	margin:auto;padding:0
}
.discount-inner .control-group.col-md-1 .btn{margin-top:10px}
.selectpicker option
{
        border: none;
        background-color: white;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance : none;
        color: #14B1B2;
        font-weight: bold;
        font-size: 30px;
        margin: 0;
        padding-left: 0;
        margin-top: -20px;
        background: none;
    }
.selectpicker
{
        border: none;
        background-color: white;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance : none;
        color: #14B1B2;
        font-weight: bold;
        font-size: 30px;
        margin: 0;
        padding-left: 0;
        margin-top: -20px;
        background: none;
    }	

/***BOOTSTRAP TABS***/
.tab .nav-tabs{border: none;margin: 30px 0;}
.tab .nav-tabs li a{padding: 10px 20px;text-transform:capitalize;margin-right: 15px;background:#DFE8F6;font-size: 15px;font-weight: 700;color: #333;border-radius: 4px;z-index: 1;position: relative;}
.tab .nav-tabs li a:hover{ color: #fff; }
.tab .nav-tabs li.active a{border: none;color: #fff;}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before{opacity: 0;transform: scale(0.5);}
.tab .nav-tabs li a:after{content: "";width: 100%;height: 100%;border-radius:3px;background:#1ED1BE;position: absolute;top: 0;left: 0;opacity: 0;z-index: -1;transform: scale(1.2);transition: all 0.5s ease 0s;}
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after{opacity: 1;transform: scale(1);}
.tab .tab-content{float:left;width:100%;padding: 10px 0;margin: 0 0 2em;font-size: 15px;letter-spacing: 1px;line-height: 25px;z-index: 1;position: relative;}
.comm-notset{margin: 0 0 2em;float: left;width: 100%;font-size: 20px;color:#f00000;}
.panel-body.lat-ord{padding:0}
.page-content.section.table-list.show-doc {
    padding: 2em;
    margin: 2em auto auto;
}
.doc-tab .table table tbody td:first-child{width:auto}
@media only screen and (max-width:991px){
.dashboard .graph-stats .left-card-container,.dashboard .graph-stats .right-card-container{width:100%;padding:0;margin-bottom:1.7em}
.dashboard .sale-stock{margin-top:auto;display:inline-block}
.dashboard .sale-stock .card{margin-bottom:1.7em;height:auto}
.graph-stats .card{height:auto}
.box-inner.marbt{margin-bottom:1em}
}

@media only screen and (max-width:770px){
.dealer-role .content-container{margin-top:0;}
.dealer-role .table table tbody tr td::before{margin:auto}
.table table tbody td.actions,.dealer-role .table table tbody td:first-child{width:auto}
.view-ord td,.doc-tab td,.lat-ord td{border:0!important}
.page-content.section.table-list.show-doc{padding:0}
.page-content .table table tbody tr td::before {
    min-width: 42%;
    float: left;
}
.table table{text-align:left !important;}
}
@media only screen and (max-width:768px){
.send-link{text-align:center}
.send-link .btn{display:inline-block;float:none!important}
.form-field .control-group.col-md-6{width:100%;padding:0}
.dashboard .graph-stats{margin-top:20px}
.content-container .content .page-content{padding:1em 0;border:0;background:transparent}
.content-container .content .page-header .page-title{width:100%;text-align:center}
.content-container .content .page-header .page-title h1{width:100%;text-align:center;display:inline-block;margin-bottom:20px}
.content-container .content .page-header .page-action {
	width: 100%;
	text-align: center;
	margin: 2em auto 1em;
}
.pro-ord td{width:auto!important}
}
@media only screen and (min-width:710px){
.navbar-menu .dropdown-list {
	top:0 !important;
	width: auto;
	margin: auto;
	box-shadow: 0 0 0;
	background: transparent;
	position: relative;
	border-radius: 0;
	display:block !important;
}
.navbar-menu .dropdown-list .dropdown-container ul li,.navbar-menu .dropdown-container {
	padding: 0 !important;
}
.navbar-menu .dropdown-list .dropdown-container ul li a{color:#fff !important}
}
@media only screen and (max-width:709px){
.filter-row-one, .filter-row-two{display:block !important}
#datagrid-filters .dropdown-filters{margin:1em auto 2em}
.view-ord .table table tbody tr td::before{margin-right:auto}
.table table tbody td:first-child,.table table tbody td.actions{width:auto !important}
.navbar-menu .dropdown-toggle {
	display: block;
	font-size: 15px;
	color: #fff;
	position: relative;
	padding: 19px 10px;
	cursor: pointer;
}
.navbar-menu .active + .dropdown-list.bottom-right{top:63px}
.navbar-menu .menubar{display:none}
.navbar-menu .dropdown-toggle + div .menubar{display:block}
.navbar-top .navbar-menu li{width:100%}
.navbar-top .navbar-menu li a{padding:0;line-height:inherit;}
.content-container .content .page-header .page-title {
	width: 100%;
	text-align: center;
	margin-bottom: .5em;
	margin-top: 2.5rem;
}
.content-container .content .page-header .page-action{width:100%;text-align:center}
}
@media only screen and (max-width: 479px){
	.content-container .content .page-header .control-group.date{width:45%;margin:auto 2%}
.tab .nav-tabs{ overflow: hidden;}
.tab .nav-tabs li{width: 100%;text-align: center;margin-bottom: 15px;}
.tab .nav-tabs li a{margin-right: 0;}
.navbar-top .navbar-top-left{width:130px}
.navbar-top .navbar-top-right .profile-info{margin:0 10px 0 20px;min-width:inherit}
.doc-ff .control-group{width:100% !important;padding:0}
}
@media only screen and (max-width: 420px){
.box-inner.marbt{width:100%}
}
.small-box{
background: #fff;
border: 1px solid #ddd;
color: #ddd;
padding: 16px;
}
.box-inner{padding-left:0;}
.box-inner h3{margin:10px 0;color:#0A96CE;font-weight:bold !important;}
.box-inner h3 span{padding:0;}
.section{margin:0 0 2em;}
.dashboard-section{padding:0;}
.data-tables th,.panel-heading i{color:#0A96CE;}
input[type="file"].upload-file{display:none;}
.control-group.col-md-3{width:25%;}
.profile-pic{max-height: 190px;}
#dealer-details .page-content{border:0;}

#payment-comm .nav-tabs li a{border-radius:10px 10px 0 0;border:0;}
#payment-comm .nav-tabs{border-bottom: 2px solid #e8e8e8;}


.accordian .accordian-header{background: #F7FAFF;border: 1px solid #DEDEDE;
    border-left:0;border-right:0;padding: 11px 15px !important;}
.accordian{
    border: 1px solid #DEDEDE;
margin:1em 0;
border-top: 0;
}

.nav-tabs .tabs ul{margin:0 0 1.5em;border:0;}

.inner-sale{border:1px solid #dedede;float:left;width:100%;}
.rows{float:left;width:100%;padding:5px 0;}
.sale-container .sale-section .inner-sale .secton-title{padding:8px 0;background:#F7FAFF;}
.secton-title >span{color:#22A3DA;padding:0 7px;}
.sale-container .sale-section .inner-sale .section-content{padding:5px 0;float: left;
width: 100%;}
.sale-container  .billing-addr{float:left;width:100%}
.sale-container .billing-addr .inner-sale .section-content{padding:8px 14px}
.fa.fa-eye{display: inline-block;font-size: 24px;color: #979797;}
.table table tbody td.actions{padding:7px;}

.tracking{margin:25px 0;}

#changeOrderStatus h5{margin:0;padding:10px 0;}

#changeOrderStatus .ch-st{padding:10px 0;}
#changeOrderStatus .col-md-1{padding:10px 0;}
#changeOrderStatus .order-status{margin:0 3px;float:left;}
#changeOrderStatus .btn{margin:4px 0;}

.table{overflow-x: inherit !important;}

.tree-container .tree-item .folder-icon{display:none;}
.discount-inner.category{display:inline-flex;align-items:center;}


.check-discount .control-group label{width:auto;display:inline-block;}
.check-discount .control-group .control{width:auto !important;height:auto;margin:0 10px 0 0;}
.doctor_ck{padding:0 2em 0 0;}


.paid-amount{margin:3em 0 0;}
.inner-form{float:none;margin:auto;}
.amount-btn{margin:2em 0;}
.clonedInput img{cursor: pointer;}
.courseInput-inner {
    background: #eee;
    margin: 11px 0;
    padding: 1.5em 0;
    text-align: center;
}

.product-sec{width:65%;margin:auto;}
.product-sec select{width:100%;}

/*sidebar menu hidden on mobile**/
#app.toggled .content-container{padding-left:0;position:relative;}
#menu-toggle-genxt.navbar-toggle .icon-bar{background:#fff;}
#menu-toggle-genxt.navbar-toggle{float:left;}
.alert-success{z-index:1;}
.dealer-role .navbar-top + #sidebar-wrapper
{display:none}
.other-payment-sec{display: none;}
