img{
    margin-bottom: 0px !important;
}

.main_container{
    width: 85%;
}

.header_new{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #0995CD;
    padding: 12px 20px;
    position: fixed;
    z-index: 9990;
}

.content-container {
    padding-top: 80px !important;
}

.nav_container, .main_container{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.nav_container ul{
    margin-left: 30px;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.profile_container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: space-between;
    align-items: center;
}

.nav_container a, .search_container a , .profile_container a{
    padding: 0px 10px;
    text-decoration: none;
    color:#FFF !important;
    font-size: 18px;
}

.nav_container a:hover, .search_container a:hover{
    color: #1ED1BE !important;    
    text-decoration: none;    
}

.searchBar {
    display: flex;
    flex:1;
    flex-direction: row;
    
    align-items: center;
}

.search_box{
    min-width: 300px;
    background: #FFF;  /* #007cad */
    outline: none;
    border: none;
    border-radius: 20px;
    padding:10px 20px;
    color:#444;
    font-size: 15px;
}

#search_submit{
    padding: 20px;
    margin-left: -40px;
    background: none;
    border: none;
    color:#CCC;
    outline: none;
    line-height: 1px;
    position: relative;
    border-radius: 50%;
}

#search_submit svg{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#search_submit:hover {
    cursor: pointer;
    transition: .15s ease-in;
    background-color: #DDD;
}

.search_container .search_box::placeholder {
    font-size: 14px;
    color:#888;
}

.search_container{
    background: #0995CD;
    display: flex;
    justify-content: center;
    flex: 1;
}

path{
    fill:#444;
}

.cart-link{
    padding: 0px 0px !important;
}

.cart-dropdown-container{
    margin-left: 15px !important;
}
.dropdown-cart a.btn, .dropdown-toggle{
    color: #FFF !important;
}

.dropdown-menu a, .dropdown-menu i, .dropdown-menu span,
.dropdown-cart a, .dropdown-cart i, .dropdown-cart span{
    font-size: 16px;
    color: #333 !important;
}

.dropdown-menu li i {
    padding: 8px 10px;
}

.customer{
    right: -60px;
}

.dropdown-toggle{
    cursor:pointer;
}

.menu_toggle{
    display: none;
    flex-direction:column;
    align-items:center;
    color: #FFF;
    border:1px solid #FFF;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 4px;
    margin:0 10px;
    display: none;
    transform: scale(.9);
}

.menu_toggle i{
    font-size: 18px;
    transform:scale(1.7,1.1);
}

.profile_container a {
    font-size: 16px;
}
.profile_container a, .profile_container .count,
.profile_container .name  {
    font-size: 18px;
}

.header_new *{
    line-height: unset !important;
}

@media (max-width: 1340px) {
    .main_container{
        width: 100%;
    }
}

@media (max-width: 1160px) {
    .search_box{
        min-width: 250px;
    }
}

@media (max-width: 1100px){
    .menu_toggle{
        display: flex;
    }

    .header_new{
        padding: 12px 40px;
    }

    ul.menu_items{
        display: none;
    }

    #menu_toggle_target{
        
        z-index: 1;
        position: absolute;
        top: 83px;
        background: #0995CD;
        /* background: #0384b8; */
        left:0;
        margin:0px;
        width: 100%;
        padding: 0 15px;
    }

    #menu_toggle_target a{
        display: block;
        border-bottom: 1px dotted #ffffff;
        padding: 10px;
    }
    
    #menu_toggle_target li:last-child a{
        border-bottom: none;
    }
}

@media (max-width: 767px){
    span[class="name"]{
        display: none !important;
    }
}

@media (max-width: 850px){
    #menu_toggle_target{
        top: 80px;
    }

    .search_container{
        position: absolute;
        top: 70px;
        width: 100%;
        left: 0;
    }

    .content-container {
        padding-top: 80px !important;
    }

    .logo_genxt{
        width: 140px;
        padding: 5px 0;
    }

    .header_new{
        padding: 5px 20px;        
    }

    .searchBar{
        padding:8px;
    }
    #head_search{
        width: 95%;
    }

    .searchBar, .search_box{
        width: 100%;
    }
    .search_box {
        padding: 8px 20px;
    }

    

    .content-container {
        padding-top: 126px !important;
    }
}

@media(max-width:410px) {
    .logo_genxt{
        width: 110px;
    }

    /* .header_new{
        padding: 12px 0px;
    } */

    .profile_container>a{
        padding: 0 8px !important;
    }

    #menu_toggle_target{
        top: 61px;
    }
    .search_container{
        top: 61px;
    }

    .content-container {
        padding-top: 117px !important;
    }


    .hide_mobile{
        display: none;
    }

    .cart-dropdown-container{
        padding-right: 14px !important;
    }
}
