@font-face {font-family: roboto-regular;src: url("../fonts/roboto-regular.eot")}
@font-face {font-family: roboto-regular;src: url("../fonts/roboto-regular.ttf")}
@font-face {font-family: daxlinepro-light;src: url("../fonts/daxlinepro-light.eot")}
@font-face {font-family: daxlinepro-light;src: url("../fonts/daxlinepro-light.ttf")}
@font-face {font-family: daxlinepro;src: url("../fonts/daxlinepro.eot")}
@font-face {font-family: daxlinepro;src: url("../fonts/daxlinepro.ttf")}

/*#category14 .size-tab{display:none;}*/
body{font-family:daxlinepro !important;color:#333;}
ul.right-content-menu{margin:0;}
img{max-width:100%;height:auto;}

.content-container{float:left;width:100%;}

#header,.header-top-section{float:left;width:100%;}
#header{margin:0;}
.btn.navbar-toggle{border:1px solid #fff;}
.left-contents .nav > li > a:focus, .left-contents .nav > li > a:hover{background:none;}
.navbar-toggle .icon-bar{background:#fff;}
.right-contents{
position: absolute;
right: 0;
float: right;
top: 0;
}
.navbar-header{padding:10px 0;}
.left-contents .navbar-collapse.collapse{padding:0;}
.header-top-section{background:#0995CD;}
.my-account-section{background:#1ED1BE;color:#fff;float:right;padding:1.2em 20px;font-size: 23px;}
.my-account-section a{display:inline-block;padding:0 3px;color:#fff;font-size:15px;}
.my-account-section.cust{padding:.95em 13px;font-size:15px;}
.my-account-section.admin{padding:1.5em 20px;font-size:18px;}
.my-account-section.cust .profile_sec{cursor:pointer;}
.right-content-menu .cart-link{color:#fff;}
.search-box{position: absolute;color: #fff;top: 36%;}
.search-box .fa.fa-search{font-size: 23px;cursor:pointer;}
.menu-container {padding: 20px 0;margin:0;}
.menu-container.nav li {float: left;padding: 0;color: #fff;font-size: 21px;}
.menu-container.nav li a{padding:10px 20px;color:#fff;text-decoration:none;}
.menu-container.nav li a:hover{color:#1ED1BE;}
.header-bottom{background:#F2F8FA;margin:0;}
.category-nav li {display: inline-block;text-align: center;
    float: left;
    height: 100%;
    position:relative;
}
.category-nav{float:left;width:100%;margin:0;}
.category-nav li:first-child{border:0;}
.category-nav li a{text-decoration:none;height: 100%;color:#767676;float:left;width:100%;position:relative;padding: 1.4em 15px;}
.category-nav li a p{margin:10px 0 0;font-weight:bold;line-height:1.3;font-size:16px;text-transform:uppercase;}
.category-nav li a:hover p{color:#0A96CE;}
.category-nav li:hover{color:#1ED1BE;}
.category-nav li.active a{color:#0A96CE;}
.category-nav li a:hover::after,
.category-nav li.active a::after,
.events-page .nav-tabs li a:hover::after,
.events-page .nav-tabs li.active a::after{
    border-bottom: 7px solid #0A96CE;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
    bottom:-3.5%;

}
.events-page .nav-tabs li a:hover::after,
.events-page .nav-tabs li.active a::after{border:0;}
.events-page .nav-tabs li:hover::after,
.events-page .nav-tabs li.active::after{bottom:-11px !important;}
.category-nav li:hover::after,
.category-nav li.active::after,
.events-page .nav-tabs li:hover::after,
.events-page .nav-tabs li.active::after{
	border-top: 12px solid #0A96CE;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: "";height: 0;left: 0;margin: auto;
	position: absolute;
	right: 0;
	width: 0;
	bottom:-17px;
  z-index:1999;
}
.dropdown-toggle.my-account-section{cursor:pointer;}
.dropdown-list li i{padding:0 10px;}
.dropdown-list .dropdown-footer a{text-decoration:underline;}
.dropdown-list .dropdown-footer a.btn{text-decoration:none;font-size:23px;}

/****header bottom categories****/
#category-0{width:11%}
#category-0 p{color:#95C251;}
#category-1 p, #category-6 p{color:#C1C2C4}
#category-2 p, #category-3 p, #category-5 p{color:#0995CD}
#category-4 p,#category-7 p{color:#CF4C8C}
#category-1{width:12%}
#category-2,#category-3{width:9%}
#category-4{width:15%;}
#category-5{width:10%;}
#category-6{width:16%;}
#category-7{width:18%;}


/****all pages*****/
h1,h3{color:#333;font-family:daxlinepro-light !important;font-weight: lighter !important;line-height: 1.1;}
p{color:#333;font-size:18px;}



/*****SLider***/
.slider-images .show-content{
    margin: auto;
    position: relative;
    z-index: 9;
    text-align:center;
    padding: 5% 0;
overflow: hidden;
margin-bottom: 0;
left:0;right:0;
    height: 100%;
      background: rgba(39,62,84,0.66);
}
    }

.slider-images li {
    height: 100%;
    overflow: hidden;
    color: #FFFFFF
  

 }


    
.slider-images li h2 {
    font-size: 3.7em;
    line-height: 1.3;
    color:#fff;
    margin:0 0 .5em;font-family: daxlinepro;
  }

.slider-images li p {
  color:#fff;
    font-size: 1.8em;
    line-height: 1.5;
    max-width:1000px;float:none;margin:0 auto 1em;font-family: daxlinepro-light;
  }
/****home page***/
.section{margin:2em 0;}
.home-content{float:left;width:100%;}
.home-content .home-left{padding:0;}
.home-content .home-left h1{font-size:60px;margin:0;}
.home-content .home-left h3{font-size:30px;margin:10px 0 22px;}
.home-content .home-left p{padding-right: 12px;line-height: 1.7;}
.home-content .home-left p strong{color:#0995CD;}
.home-content .home-left .shop-now{margin:20px 0;}
.home-content .home-left a{background: #1ED1BE;color: #fff;padding: 8px 25px;font-size: 24px;text-decoration:none;}
.home-content .home-left a:hover{background:#0995CD;}


.all-categories h3{margin:0 0 12px;font-size:18px;}
.all-categories p{font-size:13px;}
.all-categories .cat-right,.all-categories .cat-left{padding:0;}
.each-category{margin:0 0 3.5em;border-right: 1px solid #ddd;}
.each-category:nth-child(7) .cat-left,.each-category:nth-child(8) .cat-left,
.each-category:nth-child(7) .cat-right,.each-category:nth-child(8) .cat-right{width:100%;margin: 0 0 15px;}
.category-sec{border-top:1px solid #ddd;padding:3.5em 0 0;}

.child-cat{font-size:35px;margin:0;color:#0995CD;}
.sub-cat{font-size:25px;margin:25px 0 10px;text-decoration:underline;}
.product-lists{border-bottom:1px solid #ddd;padding:2em 0;}
.product-lists:last-child{border-bottom:0;}

.footer .support-sales h3{margin:1.1em 0;font-size:40px;}
.support-sales ul li{float: left;display: inline-block;border-right:1px solid #ddd;padding:0 1.6em;}
.support-sales ul li:last-child{border:0;}
.support-sales ul li:nth-child(4){width:25%;}
.footer .support-sales ul li p{text-transform:uppercase;color:rgba(51,51,51,1);margin:12px 0;}

.footer-bottom{background:#0995CD;margin:3em 0 0;}
.social-icons{padding:3px 0;}
.social-icons ul li{padding:0 5px;display:inline-block;}
.copyright p{color: #fff;font-size: 14px;padding: 0;text-align: center;font-family: daxlinepro;}
.copyright p.developed{margin:0;}
.footer-bottom .copyright a{color:#fff;}
.auth-content .login-form .btn-primary{background:#1ED1BE;border:1px solid #1ED1BE;}
.auth-content .sign-up-text{margin:3% auto 2%;}
.login-form .forgot-password-link a, .auth-content .sign-up-text a{color:#0995CD}
.auth-content .form-field{padding:0;}
.form-field .control-group.col-md-4, .form-field .pass{padding-left:0;}
.form-field .control-group.col-md-8,.form-field .cpass{padding-right:0;}



.add-to-wishlist.added .wishlist-icon {background-image: url("../images/wishlist-added.svg");}

/***categories-page****/
.search-result-status{padding: 2em 0 1.3em;font-size: 21px;}
.category-container .category-desc,.category-container .category-part,.category-container .top-sec{padding:0;}
.btn:hover{border: 1px solid transparent !important;background-color:#0995CD;}
.icon-menu-close{cursor:pointer;}

.category-section{font-family: daxlinepro-light;}
.section-head h2{
font-size: 62px;
margin:0 0 5px;
}
.section-head p{
font-size: 28px;
letter-spacing: 1px;
}
.category-container .category-section,.category-container .inner-category,.category-container .cat-left{padding:0;}
.category-container .category-section{margin:1em 0;border-bottom: 1px solid #ddd;padding: 0 0 2.5em;}
.category-container .category-section .content{padding: 15px 0;}
.category-container .category-section .content p{font-size:20px;margin:0 0 25px;}
.list-item{margin: 0 0 30px;float:left;padding:0 12px;width:auto;min-width:281px;}
.list-item .list-inner{background:#F1F1F1;padding:25px 20px;min-height: 196px;}
.list-item li {
    background: url('../images/tick-icon.png') no-repeat left 45%;
    padding: 0 0 0 27px;
    line-height: 1.3;
    margin: 0 0 10px;
    font-family:daxlinepro;
}
ul.list-items{padding:0;}
.list-item h4{margin:20px 0 16px;font-family:daxlinepro;font-size:24px;}

.sub-cat-section{border-bottom:1px solid #ddd;padding:1em 0;}

/********Instant Provisionals**************/
.section-sub-head h3{font-size: 30px;}
.list-points {width: 70%;float: left;border: 1.5px solid #333;margin: 15% 15% 0;}
.list-points ul.list-items{width: 100%;margin: 5px 0 0;border-bottom: 1px solid}
.list-points .list-items li {margin: 10px 30px;}
.list-points .list-items li img {width: 25%;}
.list-points li label {font-size: medium;}
.list-points label.bottom {text-align: center;width: 100%;padding: 15px 0;background:#eee;margin: 0;}
.steps-box.col-md-12 {width: 100%;float: left;height: auto;margin: 15px 0;}
.steps-image img, .last-steps-image img {width: 60%;}
.quality-block {width: 100%;float: left;}
.quality-block .quality-image img {width: 90%;margin: 10% auto;}
.mold-blocks-left {padding-bottom: 20px;}
.sizing-key-box {position: relative;top: -10px;}
.sizing-key-box ul {padding: 0 10px 10px 35px; margin: 0}
.sizing-key-box ul > li {padding-bottom: 5px;}
.sizing-key-box label {padding-left: 15px;}
.sizing-key-box .img img {padding-bottom: 25px;}
table.articulation-table {width: 75%;margin-bottom: 25px;}
table.articulation-table tbody {border: 1px solid #555;}
table.articulation-table th, td {padding: 5px 10px !important;}
.size-guide img {padding-bottom: 30px;}

/*********Event Page**************/
.category-block .nav-pills{text-align:center;margin:0 0 2.5em;}
.category-block .nav-pills >li{display:inline-block;float:none;padding: 0 6px;}
.category-block .nav-pills > li.active > a,
.category-block .nav-pills > li.active > a:focus,
.category-block .nav-pills > li.active > a:hover,
.events-page .nav-tabs > li > a:hover,
.events-page .nav-tabs > li.active > a,
.events-page .nav-tabs > li.active > a:focus,
.events-page .nav-tabs > li.active > a:hover{
    background: #0A96CE;
    color: #fff;
}
.events-page{margin:3em 0;}
.events-page .nav-tabs > li > a{
border-radius:0;
    margin-right:15px;
    font-size:21px;
    position:relative;
    background:#F1F1F1;
  }
.category-block .nav-pills > li > a{
    border-radius: 21px;
    padding: 7px 20px;
    font-size: 17px;
    background:#F1F1F1;
    color:#333;
    font-weight: bold;
}
.events-page .all-events{margin:4em 0;}
.events-page .nav-tabs{border:0;}
.events-page .nav-tabs li{display:inline-block;float:none;}
.events-page .each-event a {
    background: #0995CD;
    float: left;
    width: 100%;
    color: #fff;
    padding: 20px;
    font-size: 24px;

}
.event-title{font-size: 35px;
color: #0995CD;
margin: 0 0 1.5em;}
.event-content{margin:3em 0;padding:1em 0;background: #E3ECF0;border: 1px solid #ddd;}
.event-content h2{color:#0995CD;margin:0 0 1em;line-height:1.4;}
.event-content li{font-size:20px;margin:15px 0;}
.dwd-sec{padding:2em 0;border-top:1px solid #dadada;border-bottom:1px solid #dadada;}
.dwd-sec .dwd-link{font-size:22px;}
.events-page .each-event{margin:0 0 2em;}
.events-page .each-event a:hover{text-decoration:none;background:#0076A9;}
/*.auth-content{margin:4em 0;}*/
.auth-content .login-form .control-group .control.radio{width:auto !important;float: left;
margin: 0;height: auto;display:none;}
.control-group label {
    display: inline-block;
    color: #3a3a3a;
    
}
.main-container-wrapper .product-card .sticker{z-index:1;}
.radio-label{
text-transform: uppercase;
width: 100%;
text-align: center;
font-size: 18px;
padding: 0;
margin: 0 0 15px;
}
.who-you-are .dealer-doctor > span{
display: inline-block;
border: 1px solid #ddd;
padding: 13px 30px;
text-align: center;
margin: 0 10px 2em;
cursor:pointer;
}
.who-you-are .dealer-doctor > span >img{margin:0 0 5px;}
.who-you-are .dealer-doctor > span.active{border:1px solid #0995CD;}
.who-you-are .dealer-doctor > span.active label{color:#0995CD;}
.doctor-part{padding:0 !important;}

.footer-bottom{position:relative;bottom:0;}


.cart_count{
padding: 3px 20px;
float: left;
color:#fff;
font-size: 17px;
}
.cart-increment{display:none;}
.cart-increment{background: #1ED1BE;float:left;width:auto;}
.cart-increment .btn.btn-primary{
color: #fff;
border: 0;
box-shadow: none;}
.show{display:block;}
.hide{display:none;}
.qty_exceeded{float:left;width:100%;color:#f00000;}



/*checkout page*/
.sec-inner{background:#F2F8FA;padding:2em 0 !important;}
.checkout-left h3, .checkout-right h3{margin:0 20px 20px;}
.checkout-left .products{padding:15px 0px;border-bottom:1px solid #ddd;margin:0;}
.products.head{background:#0A96CE;color:#fff;}
.contact-form .form-field .control-group textarea.control, .contact-form .form-field .control-group input.control, .contact-form .form-field .control-group select.control {width:100%;}

.form-field .control-group textarea.control, .form-field .control-group input.control, .form-field .control-group select.control {width:92%;}

.addr-left{padding:0 !important;font-size:23px;}
.addr-right{padding: 0!important;}
.top-right a{padding:0 15px;}
.addr-right p{font-size:17px;margin:0 0 5px;}
.add-new{margin:20px 0 0;}
.add-new >i{padding:0 7px 0 0;}
.add-new a{font-size:17px;text-decoration:underline;}
.border-bottom{padding:0 0 30px;border-bottom:1px solid #ddd;}

.discount-sec{background:#0A96CE;padding:2em 2.5em !important;border-bottom:1px solid #fff;}
.discount-sec h3{margin:0 0 10px;color:#fff;}
.discount-sec >span{color:#fff;font-size:22px;}
.discount-sec .apply-coupon{width:100%;padding:10px 20px;font-size:18px;background: #fff;color: #20A9EA;border: 1px dashed #20A9EA;}
.discount-sec .apply-coupon:hover{border:1px dashed #20A9EA;color:#fff;opacity:1;background:#12DDFB;}
.remove-discount a:hover{color:#1ED1BE;text-decoration:none;}
.offer-code{border: 1px solid #daceb7;background-color: #fffae6;min-width:105px;width: 19%;text-align: center;padding: 3px;}
.offer-section li{margin:0 0 12px;}

.offer-section .apply-offer{border:1px solid #20A9EA;background:none;color:#20A9EA;}
.offer-section .apply-offer:hover{color:#fff;background:#20A9EA;}
.offer-section .title{font-weight:bold;}
.offer-section {padding:2em 0;border-bottom:1px solid #ddd;}

.mem-discount-applied,.promo-code-applied, .reward-applied{float: left;width: 100%;background: #fff;color: #0A96CE;padding: 10px;border: 1px dashed #0A96CE;}
.remove{background: none;border: 0;padding: 10px 0;}
.list-payments > span >input{float:left;margin:0 10px 0 0;}
.border-padding{border-bottom:1px solid #ddd;padding:15px 0;}
.border-padding > label{font-weight:normal;font-size:17px;float: left;line-height: 14px;}

.order-amount{background:#0A96CE;color:#fff;padding:2em 2.5em !important;}
.order-amount .sub-amount > span{font-size:24px;}
.order-amount .amount-sec > div{padding:6px 0;font-size:18px;}
.order-amount .amount-sec .discount-apply > span, .order-amount .amount-sec .reward-points > span{color:#12DDFB;}
.order-amount .amount-sec .total-amounts > span{font-size:28px;}
.place-order.section{padding:0;}
.place-order button, .place-order a{background: #12DDFB !important;background-color: rgb(18, 221, 251);color: #fff;float: left;width: 100%;padding: 12px;font-size: 28px;border: 0;border-radius: 12px;}
.place-order a.order_by_razorpay{display:none;}

.discount-sec .apply-reward{width: 24%;
float: right;
padding: 5px;
margin: 10px 0;
background: #12DDFB;
color: #fff;
border:1px dashed #fff;font-size:17px;}
.discount-sec .apply-reward:hover{color:#fff;border:1px dashed #fff;background:none;opacity:1;}
.discount-sec .control-group{margin:0;}

.sub-category{margin:0 0 15px;}
.sub-category > li > a{border-radius:0;margin:0;}
.category-block .sub-category.nav-pills{border-bottom:1px solid #ddd;}
.category-block .sub-category.nav-pills > li > a{border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
margin:0;}
.category-block .sub-category-content.tab-content{margin:0em 0 1em;}
.category-block .size-tab li.active a,.category-block .size-tab li a:hover,
.category-block .size-tab li a:focus,
.category-block .size-tab li.active a:focus,
.category-block .size-tab li.active a:hover{background:#27D0BD;color:#fff;}
.main-container-wrapper .product-card{
max-height: 374px;
height: 100%;
margin: 0 0 2em;
}
.main-container-wrapper .product-card .product-image img {
    display: block;
    width: auto;
    max-width: 100%;

}
.product-img{
float: left;
width: 30%;
}
.product-img > a{
    float:left;
    width:100%;
    text-align:center;
}
.item .each-col {
    border-right: 1px solid #ccc;
    padding: 0;
    text-align:center;
    margin:0;
}
.each-col h4{
background: #0995CD;
padding:5px 0;
margin:0 0 1em;
color:#fff;
text-align:center;
}
.each-col .remove a{
color: #FF6472;
font-size: 22px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin:2em auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.category-desc {
    height:370px;  /*this is set to the height of the how much text you want to show based on the font size, line height, etc*/
    overflow:hidden;
}
ul.list-items{margin:1.5em 0;}
.list-item .list-inner.no-bg{background:none;padding:25px 0 25px 15px;}
.list-item .list-inner.no-bg li{line-height:1.6;}
.top-section, .all-sec, .all-sec .left-img{padding:0;text-align:center;}
.all-sec .right-text{padding:0 0 0 1em;}
.all-sec h3{font-size:30px;}
.category-container .show-more{border:0;font-size: 22px;}
.category-container .show-more:hover, .category-container .show-more:focus{background:#0A96CE;}

/****search***/
.header .search-responsive{position: absolute;float: right;right: 28%;top: 0;margin: 15px 0;}
.header .search-responsive .search-content{border:0;}
.fa.fa-search{font-size: 19px;}
.header .search-responsive .search-content .search {
  width: 100%;
  border: none;
  font-size: 16px;
  background: #eee;
  padding: 7px 15px;
}

/*profile page*/
.loyalty-points{float: right;font-size: 20px;color:#1ED1BE;}
.account-table-content .account-action{float: right;font-size: 18px;}
.edit-form.profile .form-field .control-group textarea.control,
.edit-form.profile .form-field .control-group input.control,
.edit-form.profile .form-field .control-group select.control {width:100%;}
.account-head .account-heading{color:#0995CD;}
.account-content .sidebar{margin:40px 0;}

.account-content .account-layout{background: #fff;padding: 2em;border-radius: 5px;margin:40px 0 40px 40px;}
.profile-page{background:#F1F3F6;}
.account-content .menu-block .menu-block-title {
    font-size: 23px;
    color: #000;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    padding:0 0 1em;
}
.account-content .menu-block .menubar{border:0;}
.account-content .menu-block .menubar li{border:0;}
.account-content .menu-block .menubar li a {
  font-size:18px;
  padding: 8px 21px;
}
.account-content .menu-block .menubar li.active a,.account-content .menu-block .menubar li a:hover{
    color: #fff;
    background: #0995CD;
    
    text-decoration:none;
    }

.profile-page .table table thead th{text-align:center;} 
.main-container-wrapper .product-card .cart-wish-wrap .addtocart{margin:0;}


/******contact us**********/
.contact-form .form-fields,.event-form .form-fields{
border: 1px solid #ddd;
padding: 3em;
}
.contact-mail a{font-size:18px;}
.contact-mail i{margin:0 10px 0 0;}

.products-list{margin:2em 0 0;}
.each-cat{margin:0 0 3em;}

.round-img{background: #F4F4F4;
width: 180px;
height: 180px;
border-radius: 50%;
transition: 0.8s;
display: inline-block;
}
.round-img:hover {
    background: #ddd;
}
a .round-img img {
    opacity: 1;
    width: auto;
    height: auto;
    padding: 0;
    position:relative;top:27%;
}
.cat-title p{margin:10px 0;}
/************responsive***************/

@media screen  and (max-width:991px){
  .home-content .home-left h1 {

    font-size: 37px;
    margin: 26px 0 0;

}

.footer .support-sales h3 {
    margin: 1.1em 0;
    font-size: 27px;
}
.support-sales ul li,.support-sales ul li:last-child{border:1px solid #ddd;width:100%;margin: 0 0 10px;padding: 16px 1.6em;}
.footer .support-sales ul li p{margin:12px 0 0;}
.support-sales ul li:nth-child(4){width:100%;}
.right-content{background:none;padding:0;margin:auto;text-align:center;}
.my-account-section.cust{padding:15px 0;background:none;}
.btn.navbar-toggle{margin:10px -8px 10px 0;}
.left-contents .navbar-header{padding:0;}
.left-contents{padding: 1em 15px 2em;}
.header .header-top{display:block;}
.navbar-nav{padding:0;}
.nav > li{width:100%;border-bottom:1px dotted #fff;padding:0;}
.navbar-nav > li >a{font-size:18px;}
.nav > li:last-child{border:0;}

.right-content.guest-cust,.left-contents.guest-cust{width:100%;}
.right-content.guest-cust .my-account-section{width:100%;padding:0.2em 0;}
.auth-content .login-form .control-group{padding:0;}
table{width:100%;}
.account-table-content table tbody tr td {width: 33%;float: left;}
.account-table-content table tbody tr td:nth-child(2) {text-align: center;}
.checkout-section,.checkout-left,.checkout-right{padding:0 !important;}

.discount-sec,.order-amount{padding:2em 15px !important;}
.order-amount .amount-sec .total-amounts > span{font-size:24px;}
.account-content .account-layout .account-table-content,.account-table-content .form-field,.account-content .account-layout .form-fieldss, .form-fieldss .form-field,.form-field .control-group.col-md-4, .form-field .pass{padding:0;}
.form-field .control-group textarea.control, .form-field .control-group input.control, .form-field .control-group select.control{width:100%;}
.form-field .control-group.col-md-8, .form-field .cpass,
.form-field .control-group.col-md-8, .form-field .pass{padding:0;}
.edit-form{padding:0;border:0;}
.footer{padding:0;}

.section-head h2{font-size:40px;}
.category-container .category-section .content p{font-size:17px;}
.category-part .all-sec, .all-sec .sec-left, .all-sec .sec-right{padding:0;}
.all-sec .right-text{padding:0;}
.list-item .list-inner.no-bg{padding:0;text-align:left;}
}

@media screen and (min-width:768px) and (max-width:991px){
  .btn.navbar-toggle{display:block !important;}
  .left-contents .navbar-collapse.collapse{display:none !important;}
  .navbar-collapse.collapse.in{display:block!important}
  .navbar-nav{width:100%;}
}

@media screen and (min-width:721px) and (max-width:1200px){
  .category-nav li,.category-nav li:first-child{padding:0;margin: 10px;border:1px solid #D0E1E6;}
  .category-nav li:nth-child(6){width:auto;}
}
@media screen and (min-width:991px) and (max-width:1200px){
.my-account-section{padding: 1.2em 4px;font-size: 19px;}
.support-sales ul li{padding: 0 .91em;}
.search-box{display:none;}
}
@media screen and (max-width:420px){
  .main-container-wrapper .product-card,
  .main-container-wrapper .product-card .product-image,
  .main-container-wrapper .product-card .product-information{width:100%;}

}
@media screen and (min-width:420px) and (max-width:565px){
  .main-container-wrapper .product-card{width:100%;}
  .main-container-wrapper .product-card .product-image,
  .main-container-wrapper .product-card .product-information{width:50%;}
}
