@font-face {font-family: roboto-regular;src: url("../fonts/roboto-regular.eot")}
@font-face {font-family: roboto-regular;src: url("../fonts/roboto-regular.ttf")}
@font-face {font-family: daxlinepro-light;src: url("../fonts/daxlinepro-light.eot")}
@font-face {font-family: daxlinepro-light;src: url("../fonts/daxlinepro-light.ttf")}
@font-face {font-family: daxlinepro;src: url("../fonts/daxlinepro.eot")}
@font-face {font-family: daxlinepro;src: url("../fonts/daxlinepro.ttf")}

/*#category14 .size-tab{display:none;} */
html body{font-family:daxlinepro !important;color:#333;font-size:16px}
.cart-dropdown-container,.product-price,
.main-container-wrapper .product-card .product-name,.main-container-wrapper .product-card .product-size,.size-tab a,.sub-cat-section h2,.cart-item-list tbody,.order-summary .item-detail label.right,
.order-summary .payble-amount label.right,.ordered-products .products,.order-amount .text-right{font-family:roboto-regular}
ul.right-content-menu{margin:0;}
img{max-width:100%;height:auto;}
.floating-wpp{bottom:83px;right:2px;z-index:1999;}
.content-container{float:left;width:100%;}
.alert-wrapper{z-index:9999 !important;}

#header,.header-top-section{float:left;width:100%;}
.header .header-bottom{padding-top:80px}
.content-container.category-page{padding:0}
#header{margin:0;}
.dropdown-cart .item-image{width:20%;margin-right:2%}
.dropdown-cart .item-details{width:50%}
.btn.navbar-toggle{border:1px solid #fff;}
.left-contents .nav > li > a:focus, .left-contents .nav > li > a:hover{background:none;}
.navbar-toggle .icon-bar{background:#fff;}
.right-contents{
position: absolute;
right: 0;
float: right;
top: 0;
}
.navbar-header{padding:10px 0;}
.left-contents .navbar-collapse.collapse{padding:0;}
.header-top-section{background:#0995CD;position:fixed;z-index:1999;height:80px}
.header .header-bottom,.content-container{padding-top:80px}
.my-account-section{color:#fff;float:right;padding:1.2em 20px;font-size:23px;}
.my-account-section a{display:inline-block;padding:0 3px;color:#fff!important;font-size:20px!important;}
.my-account-section a:hover{color:#1ED1BE!important;text-decoration:none}
.my-account-section.cust{padding:.95em 13px;font-size:15px;text-align:center}
.my-account-section.admin{padding:1.5em 20px;font-size:18px;}
.my-account-section.cust .profile_sec{cursor:pointer;}
.profile_sec label{width:250px}
.profile_sec p {
	padding: 10px 15px 3px;
	background: #f9f9f9;
	margin: 2px auto;
}
.right-content-menu .cart-link{color:#fff;}
.search-box{position: absolute;color: #fff;top:15%;}
.search-box .fa.fa-search{font-size: 23px;cursor:pointer;}
.menu-container {padding: 20px 0;margin:0;}
.menu-container.nav li {float: left;padding: 0;color: #fff;font-size: 21px;}
.menu-container.nav li a{padding:10px 20px;color:#fff;text-decoration:none;}
.menu-container.nav li a:hover{color:#1ED1BE}
.navbar-toggle:hover .icon-bar{background:#1ED1BE}
.navbar-toggle:hover span:last-child{color:#1ED1BE}
.header-bottom{background:#F2F8FA;margin:0;}
.category-nav li {
	display: inline-block;
	padding:0;
	text-align: center;
	float: left;
	height: 100%;
	position: relative;
	width: auto;
	min-width: 10%;
border-left:1px solid #ddd
}
.category-nav{float:left;width:100%;margin:0;text-align:center}
.category-nav li:first-child{border:0;}
.category-nav li a{text-decoration:none;height: 100%;color:#767676;float:left;width:100%;position:relative;padding: 1.4em 15px;}
.category-nav li a p{margin:10px 0 0;font-weight:bold;line-height:1.3;font-size:16px;text-transform:uppercase;}
.category-nav li a:hover p{color:#0A96CE;}
.category-nav li:hover{color:#1ED1BE;}
.category-nav li.active a{color:#0A96CE;}
.category-nav li a:hover::after,
.category-nav li.active a::after,
.events-page .nav-tabs li a:hover::after,
.events-page .nav-tabs li.active a::after{
    border-bottom: 7px solid #0A96CE;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
    bottom:-3.5%;

}
.events-page .nav-tabs li a:hover::after,
.events-page .nav-tabs li.active a::after{border:0;}
.events-page .nav-tabs li:hover::after,
.events-page .nav-tabs li.active::after{bottom:-11px !important;}
.category-nav li:hover::after,
.category-nav li.active::after,
.events-page .nav-tabs li:hover::after,
.events-page .nav-tabs li.active::after{
	border-top: 12px solid #0A96CE;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: "";height: 0;left: 0;margin: auto;
	position: absolute;
	right: 0;
	width: 0;
	bottom:-17px;
  z-index:1999;
}
.dropdown-toggle.my-account-section{cursor:pointer;}
.dropdown-menu{left:inherit !important;min-width:200px !important;}
.dropdown-list li i,.dropdown-menu li i{padding:0 10px;}
.dropdown-list .dropdown-footer a{text-decoration:underline;}
.dropdown-list .dropdown-footer a.btn{text-decoration:none;font-size:23px;}

body .btn {
	box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.3);
	border-radius: 4px !important;
	border: 0 !important;
	padding:12px 20px 8px!important;
	transition:0.8s
}
body .btn:hover {
	box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.6);
	border: 0 !important;
	background:#0a96ce !important;
	opacity:1
}
/****header bottom categories****/
#category-0 p{color:#95C251;}
#category-1 p, #category-6 p{color:#C1C2C4}
#category-2 p, #category-3 p, #category-5 p{color:#0995CD}
#category-4 p,#category-7 p{color:#CF4C8C}


/****all pages*****/
h1,h3{color:#333;font-family:daxlinepro-light !important;font-weight: lighter !important;line-height: 1.1;}
p{color:#333;font-size:18px;}



/*****SLider***/
ul.slider-images{margin:auto;}
.slider-images .show-content{
    margin: auto;
    position: relative;
    z-index: 9;
    text-align:center;
    padding: 5% 15px;
overflow: hidden;
margin-bottom: 0;
left:0;right:0;
    height: 100%;
      background: rgba(39,62,84,0.66);
}
    }

.slider-images li {
    height: 100%;
    overflow: hidden;
    color: #FFFFFF
  

 }


    
.slider-images li h2 {
    font-size: 3.7em;
    line-height: 1.3;
    color:#fff;
    margin:0 0 .5em;font-family: daxlinepro;
  }

.slider-images li p {
  color:#fff;
    font-size: 1.8em;
    line-height: 1.5;
    max-width:1000px;float:none;margin:0 auto 1em;font-family: daxlinepro-light;
  }
/****home page***/
.section{margin:2em 0;}
.home-content{float:left;width:100%;}
.home-content .home-left{padding:0;}
.home-content .home-left h1{font-size:60px;margin:0;}
.home-content .home-left h3{font-size:30px;margin:10px 0 22px;}
.home-content .home-left p{padding-right: 12px;line-height: 1.7;}
.home-content .home-left p strong{color:#0995CD;}
.home-content .home-left .shop-now{margin:20px 0;}
.home-content .home-left a{background: #1ED1BE;color: #fff;padding: 8px 25px;font-size: 24px;text-decoration:none;}
.home-content .home-left a:hover{background:#0995CD;}


.all-categories h3{margin:0 0 12px;font-size:18px;}
.all-categories p{font-size:13px;}
.all-categories .each-category:nth-child(4n){border-width:0}
.all-categories .cat-right,.all-categories .cat-left{padding:0;}
.each-category{margin:0 0 3.5em;border-right: 1px solid #ddd;}
.each-category:nth-child(7) .cat-left,.each-category:nth-child(8) .cat-left,
.each-category:nth-child(7) .cat-right,.each-category:nth-child(8) .cat-right{width:100%;margin: 0 0 15px;}
.category-sec{border-top:1px solid #ddd;padding:3.5em 0 0;}

.child-cat{font-size:35px;margin:0;color:#0995CD;}
.sub-cat{font-size:25px;margin:50px 0 10px;text-decoration:underline;}
.product-lists{border-bottom:1px solid #ddd;padding:1em 0;}
.product-lists .product-image img{max-height: 200px;display: inline-block;}
.cat-btn{margin-top: 10px;}
.product-lists .product-information .btn{
	font-size: 16px;
	margin: auto;
	padding: 8px 18px !important;
	height: auto;
}
.product-lists .product-information .btn.btn-sm{padding:7px 12px !important;border-radius:0!important}
.product-lists:last-child{border-bottom:0;}

.footer .support-sales h3{margin:1.1em 0;font-size:40px;}
.support-sales ul li{float: left;display: inline-block;border-right:1px solid #ddd;padding:0 1.6em;min-width:13%}
.support-sales ul li:last-child{border:0;}
.support-sales ul li:nth-child(4){width:25%;}
.footer .support-sales ul li p{text-transform:uppercase;color:rgba(51,51,51,1);margin:12px 0;}

.footer-bottom{background:#0995CD;margin:3em 0 0;}
.social-icons{padding:3px 0; z-index: 1;}
.social-icons ul li{padding:0 5px;display:inline-block;}
.copyright p{color: #fff;font-size: 14px;padding: 5px 0;text-align: center;font-family: daxlinepro;}
.copyright p.developed{margin:0;}
.footer-bottom .copyright a{color:#fff;}
.auth-content .login-form .btn-primary{background:#1ED1BE;border:1px solid #1ED1BE;padding:13px 10px 8px}
.auth-content .sign-up-text{margin:1% auto 0}
.login-form .forgot-password-link a, .auth-content .sign-up-text a{color:#0995CD}
.auth-content .form-field{padding:0;}
.form-field .control-group.col-md-4, .form-field .pass{padding-left:0;}
.form-field .control-group.col-md-8,.form-field .cpass{padding-right:0;}



.add-to-wishlist.added .wishlist-icon {background-image: url("../images/wishlist-added.svg");}

/***categories-page****/
.search-result-status{padding: 2em 0 1.3em;font-size: 21px;}
.category-container .category-desc,.category-container .category-part,.category-container .top-sec{padding:0;}
.btn:hover{border: 1px solid transparent !important;background-color:#0995CD;}
.icon-menu-close{cursor:pointer;}

.category-section{font-family: daxlinepro-light;}
.section-head h2{
font-size: 62px;
margin:0 0 5px;
}
.section-head p{
font-size: 28px;
letter-spacing: 1px;
}
.category-container .category-section,.category-container .inner-category,.category-container .cat-left{padding:0;}
.category-container .category-section{margin:1em 0;border-bottom: 1px solid #ddd;padding: 0 0 2.5em;}
.category-container .category-section .content{padding: 15px 0;}
.category-container .category-section .content p{font-size:20px;margin:0 0 25px;}
.list-item{margin: 0 0 30px;float:left;padding:0 12px;width:auto;min-width:281px;}
.list-item .list-inner{background:#F1F1F1;padding:25px 20px;min-height: 196px;}
.list-item li {
    background: url('../images/tick-icon.png') no-repeat left 45%;
    padding: 0 0 0 27px;
    line-height: 1.3;
    margin: 0 0 10px;
    font-family:daxlinepro;
}
ul.list-items{padding:0;}
.list-item h4{margin:20px 0 16px;font-family:daxlinepro;font-size:24px;}

.sub-cat-section{padding:1em 0;float:left;width:100%;}
.sub-cat-child-section{float:left;width:100%;}
.sub-cat-section h3,.product-lists,.sub-cat-section h2{float:left;width:100%;}

/********Instant Provisionals**************/
.section-sub-head h3{font-size: 30px;}
.list-points {width: 70%;float: left;border: 1.5px solid #333;margin: 15% 15% 0;}
.list-points ul.list-items{width: 100%;margin: 5px 0 0;border-bottom: 1px solid}
.list-points .list-items li {margin: 10px 30px;}
.list-points .list-items li img {width: 25%;}
.list-points li label {font-size: medium;}
.list-points label.bottom {text-align: center;width: 100%;padding: 15px 0;background:#eee;margin: 0;}
.steps-box.col-md-12 {width: 100%;float: left;height: auto;margin: 15px 0;}
.steps-image img, .last-steps-image img {width: 60%;}
.quality-block {width: 100%;float: left;}
.quality-block .quality-image img {width: 90%;margin: 10% auto;}
.mold-blocks-left {padding-bottom: 20px;}
.sizing-key-box {position: relative;top: -10px;}
.sizing-key-box ul {padding: 0 10px 10px 35px; margin: 0}
.sizing-key-box ul > li {padding-bottom: 5px;}
.sizing-key-box label {padding-left: 15px;}
.sizing-key-box .img img {padding-bottom: 25px;}
table.articulation-table {width: 75%;margin-bottom: 25px;}
table.articulation-table tbody {border: 1px solid #555;}
table.articulation-table th, td {padding: 5px 10px !important;}
.size-guide img {padding-bottom: 30px;}

/*********Event Page**************/
.category-block .nav-pills{text-align:center;margin:0 0 1em;}
.category-block .nav-pills >li{display:inline-block;float:none;padding: 0 6px;width:auto}
.category-block .nav-pills > li.active > a,
.category-block .nav-pills > li.active > a:focus,
.category-block .nav-pills > li.active > a:hover,
.events-page .nav-tabs > li > a:hover,
.events-page .nav-tabs > li.active > a,
.events-page .nav-tabs > li.active > a:focus,
.events-page .nav-tabs > li.active > a:hover{
    background: #0A96CE;
    color: #fff;
}
.events-page{margin:3em 0;}
.events-page .nav-tabs > li > a{
border-radius:0;
    margin-right:15px;
    font-size:21px;
    position:relative;
    background:#F1F1F1;
  }
.category-block .nav-pills > li > a{
    border-radius: 21px;
    padding: 7px 20px;
    font-size: 17px;
    background:#F1F1F1;
    color:#333;
    font-weight: bold;
}
.events-page .all-events{margin:6em 0 1em}
.events-page .nav-tabs{border:0;}
.events-page .nav-tabs li{display:inline-block;float:none;}
.events-page .nav-tabs li a{padding:10px 35px}
.tab-pane .section.event-content{padding:5%}
.event-form .btn.btn-primary{border:0!important;padding:14px 20px 10px;min-width:200px}
h2.contact-head{text-align:center}
.event-title{font-size: 35px;
color: #0995CD;
margin: 0 0 1.5em;}
.event-content{margin:3em 0;padding:1em 0;background: #E3ECF0;border: 1px solid #ddd;}
.event-content h2{color:#0995CD;margin:0 0 1em;line-height:1.4;}
.event-content li{font-size:20px;margin:15px 0;}
.dwd-sec{padding:2em 0;border-top:1px solid #dadada;border-bottom:1px solid #dadada;}
.dwd-sec .dwd-link{font-size:22px;}
.events-page .each-event {
	border: 1px solid #eee;
	box-shadow: 0 0 2px 2px #eee;
	margin-bottom: 2em;
	border-radius: 3px;
	padding:1% 2% 2%
}
.each-event h3{color:#0a96ce;font-weight:bold !important;margin-bottom:15px}
.each-event p {
    font-size: 17px;
    margin-bottom: 5px;
	clear:both
}
.each-event p label {
    margin: auto;
    width: 80px;
    min-height: 30px;
    float: left;
}
.events-page .each-event a.btn {
	background: #0995CD;
	float: left;
	width: 100%;
	color: #fff;
	padding: 15px 20px 10px;
	font-size: 19px;
	border-radius: 3px;
	text-align: center;
}
.events-page .each-event a.btn:hover{text-decoration:none;background:#0076A9;}
.events-page .each-event  a h3:hover{text-decoration:none;color:#0076A9}
.sec1,.sec2,.sec3,.sec4,.sec5{clear:both;margin-bottom:4em}
.sec1 .event-title{font-weight:bold!important;margin:0.5em auto}
.sec1 .col-md-5 img{max-width:300px}
.hig-sec ul{margin:20px auto 50px}
.hig-sec li {
    display: inline-block;
    margin: 5px 10px;
	font-size:18px
}
.sec1 .hig-sec li::before {
	content: "\f192";
	right: inherit;
	left: 0;
	float: left;
	font-size: 18px;
	top: 3px;
	margin-right: 8px;
	color: #0091cc;
}
.sec2 .panel {
    clear: both;
    margin-bottom: 1em !important;
    float: left;
    width: 100%;
	box-shadow:0 0 0
}
.sec2 li {
	font-size: 18px;
	margin-bottom: 16px;
	list-style: outside;
	margin-left: 20px;
	padding-left: 15px;
}
.sec2 ul{margin-top:20px}
.sec2 .panel-heading {
	background: #0a96ce;
	color: #fff;
	padding:22px 20px 17px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 0;
	font-weight: bold;
	letter-spacing: 1px;
	margin: auto;
}
.sec2 .panel-heading.collapsed {
	background: #f1f1f1;
	color: #0a96ce;
}
.sec2 .panel-heading:after,.hig-sec li:before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    position: relative;
    top: -5px;
    right: 10px;
	content:"\f0d8";
	float:right
}
.sec2 .panel-heading.collapsed:after{content:"\f0d7"}
.sec2 .panel-group .panel + .panel{margin:auto;border:0}
.sec2 .panel-collapse{padding:20px}
.sec2 label {
	float: left;
	width: 18%;
	color: #0a96ce;
}
.sec2 .col-le{width:18%;float:left}
.sec2 .col-le label{width:auto}
.sec2 .col-ri{width:82%;float:left}
.sec4{padding:0 15px}
.cor-tit{
    text-align: center;
    margin: 20px auto;
	font-size:30px
}
.cor-tit,.sec4 h4,.sec4 h5{color:#0091cc;font-weight: bold !important;}
.sec4 .row {
    background: #eee;
    margin-bottom: 20px;
    padding: 25px 20px;
}
.sec4 img{border:3px solid #0091cc}
.sec4 h4{font-size:20px}
.sec4 h5{font-size:18px}
.sec4 .col-sm-3{Width:auto}
.sec6{float:left;width:100%;background:#f9f9f9;padding-bottom:2em}
.sec6 .event-form .form-fields{border:0}
.sec6 .form-field .control-group textarea.control{width:97%}
.sec6 .control-group .control{margin-top:2px}


/*.auth-content{margin:4em 0;}*/
.auth-content .login-form .control-group .control.radio{width:auto !important;float: left;
margin: 0;height: auto;display:none;}
.control-group label {
    display: inline-block;
    color: #3a3a3a;
    
}
.main-container-wrapper .product-card .sticker{z-index:1;}
.radio-label{
text-transform: uppercase;
width: 100%;
text-align: center;
font-size: 18px;
padding: 0;
margin: 0 0 15px;
}
.who-you-are .dealer-doctor > span{
display: inline-block;
border: 1px solid #ddd;
padding: 13px 30px;
text-align: center;
margin: 0 10px 2em;
cursor:pointer;
}
.who-you-are .dealer-doctor > span >img{margin:0 0 5px;}
.who-you-are .dealer-doctor > span.active{border:1px solid #0995CD;}
.who-you-are .dealer-doctor > span.active label{color:#0995CD;}
.doctor-part{padding:0 !important;}

.footer-bottom{position:relative;bottom:0;}


.cart_count{
padding: 3px 20px;
float: left;
color:#fff;
font-size: 17px;
}
.cart-increment{display:none; width:110px !important;}
.cart-increment{background: #1ED1BE;float:left;width:auto;}
.cart-increment .btn.btn-primary{
color: #fff;
border: 0;
box-shadow: none;}
.show{display:block;}
.hide{display:none;}
.qty_exceeded{float:left;width:100%;color:#f00000;}



/*checkout page*/
.checkout-section .sec-inner{padding:2em 0 0 !important;margin:2em auto}
.ordered-products .head{font-size:16px}
.sec-inner{background:#F2F8FA;padding:2em 0 1em!important;}
.border-bottom.billing-addr{display:block}
.discount-sec .control-group .control{height:43px}
.checkout-left h3, .checkout-right h3{margin:20px;}
.checkout-left .products{padding:15px 0px;border-bottom:1px solid #ddd;margin:0;}
.products.head{background:#0A96CE;color:#fff;}
.contact-form .form-field .control-group textarea.control, .contact-form .form-field .control-group input.control, .contact-form .form-field .control-group select.control {width:100%;}

.form-field .control-group textarea.control, .form-field .control-group input.control, .form-field .control-group select.control {width:92%;}

.addr-left{padding:0 !important;font-size:23px;}
.addr-right{padding: 0!important;}
.top-right a{padding:0 15px;}
.addr-right p{font-size:17px;margin:0 0 5px;}
.add-new{margin:20px 0 0;}
.add-new >i{padding:0 7px 0 0;}
.add-new a{font-size:17px;text-decoration:underline;}
.border-bottom{padding:0 0 30px;border-bottom:1px solid #ddd;}

.discount-sec{background:#0A96CE;padding:2em 2.5em !important;border-bottom:1px solid #fff;}
.discount-sec h3{margin:0 0 10px;color:#fff;float:left;}
.discount-sec span.promotion-right{float:right;font-size:18px;}
.discount-sec >span{color:#fff;font-size:22px;}
.discount-sec .apply-coupon{width:100%;padding:10px 20px;font-size:18px;background: #fff;color: #20A9EA;border: 1px dashed #20A9EA;}
.discount-sec .apply-coupon:hover{border:1px dashed #20A9EA;color:#fff;opacity:1;background:#12DDFB;}
.remove-discount a:hover{color:#1ED1BE;text-decoration:none;}
.offer-code{border: 1px solid #daceb7;background-color: #fffae6;min-width:105px;width: 19%;text-align: center;padding: 3px;}
.offer-section li{margin:0 0 12px;}
.text-promotion{padding: 8px 0;float: left;font-size: 16px;}

.offer-section .apply-offer{border:1px solid #20A9EA;background:none;color:#20A9EA;}
.offer-section .apply-offer:hover{color:#fff;background:#20A9EA;}
.offer-section .title{font-weight:bold;}
.offer-section {padding:1.2em 0;}

.cart-discount-applied, .reward-applied{float: left;width: 100%;background: #fff;color: #0A96CE;padding: 10px;border: 1px dashed #0A96CE;}
.remove{background: none;border: 0;padding:2px 0;}
.each-col .towishlist a{position: relative;top:7px;margin-left:10px}
.list-payments > span >input{float:left;margin:0 10px 0 0;}
.border-padding{border-bottom:1px solid #ddd;padding:15px 0;}
.border-padding > label{font-weight:normal;font-size:17px;float: left;line-height: 14px;}

.order-amount{background:#0A96CE;color:#fff;padding:2em 2.5em !important;}
.order-amount .sub-amount > span{font-size:24px;}
.order-amount .amount-sec > div{padding:6px 0;font-size:18px;}
.order-amount .amount-sec .discount-apply > span, .order-amount .amount-sec .reward-points > span{color:#12DDFB;}
.order-amount .amount-sec .total-amounts > span{font-size:28px;}
.place-order.section{padding:0;}
.place-order button, .place-order a{background: #12DDFB !important;background-color: rgb(18, 221, 251);color: #fff;float: left;width: 100%;padding: 12px;font-size: 28px;border: 0;border-radius: 12px;}
.place-order button.order_by_without_payment{display:none;}

.discount-sec .apply-reward{width: 24%;
float: right;
padding: 5px;
margin: 10px 0;
background: #12DDFB;
color: #fff;
border:1px dashed #fff;font-size:17px;}
.discount-sec .apply-reward:hover{color:#fff;border:1px dashed #fff;background:none;opacity:1;}
.discount-sec .control-group{margin:0;}

.sub-category{margin:0 0 15px;}
.sub-category > li > a{border-radius:0;margin:0;}
.category-block .sub-category.nav-pills{border-bottom:1px solid #ddd;}
.category-block .sub-category.nav-pills > li > a{border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
margin:0;}
.category-block .sub-category-content.tab-content{margin:0em 0 1em;}
.category-block .size-tab li.active a,.category-block .size-tab li a:hover,
.category-block .size-tab li a:focus,
.category-block .size-tab li.active a:focus,
.category-block .size-tab li.active a:hover{background:#27D0BD;color:#fff;}
.main-container-wrapper .product-card{
max-height: 374px;
height: 100%;
margin: 0 0 2em;
}
.main-container-wrapper .product-card .product-image img {
    display: block;
    width: auto;
    max-width: 100%;

}
.product-img{
float: left;
width: 30%;
}
.product-img > a{
    float:left;
    width:100%;
    text-align:center;
}
.item .each-col {
    border-right: 1px solid #ccc;
    padding: 0;
    text-align:center;
    margin:0;
}
.each-col h4{
background: #0995CD;
padding:5px 0;
margin:0 0 1em;
color:#fff;
text-align:center;
}
.each-col .remove a{
color: #FF6472;
font-size: 22px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin:2em auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.category-desc {
    height:370px;  /*this is set to the height of the how much text you want to show based on the font size, line height, etc*/
    overflow:hidden;
}
ul.list-items{margin:1.5em 0;}
.list-item .list-inner.no-bg{background:none;padding:25px 0 25px 15px;}
.list-item .list-inner.no-bg li{line-height:1.6;}
.top-section, .all-sec, .all-sec .left-img{padding:0;text-align:center;}
.all-sec .right-text{padding:0 0 0 1em;}
.all-sec h3{font-size:30px;}
.category-container .show-more{border:0;font-size: 22px;}
.category-container .show-more:hover, .category-container .show-more:focus{background:#0A96CE;}

/****search***/
.header .search-responsive {
	position: absolute;
	float: right;
	right: 28%;
	top: 0;
	margin: 15px 0;
	width: 48%;
	transition: 0.8s;
}
.header .search-responsive .search-content{border:0;}
.fa.fa-search{font-size: 19px;}
.header .search-responsive .search-content .search {
	width: 100%;
	border: none;
	font-size: 16px;
	background: #fff;
	padding: 10px 15px 6px;
	border: 0;
	border-radius: 3px 0 0 3px;
}
.header .search-responsive .search-content .search-sub{
background:#ddd;
border: 0;
padding: 11px 20px 7px;
margin: 5px auto auto;
border-radius: 0 3px 3px 0;
}
/*profile page*/
.loyalty-points{float: right;font-size: 20px;color:#1ED1BE;}
.account-table-content .account-action{float: right;font-size: 18px;}
.edit-form.profile .form-field .control-group textarea.control,
.edit-form.profile .form-field .control-group input.control,
.edit-form.profile .form-field .control-group select.control {width:100%;}
.account-head .account-heading{color:#0995CD;}
.account-content .sidebar{margin:40px 0;}

.account-content .account-layout{background: #fff;padding: 2em;border-radius: 5px;margin:40px 0 40px 4%;}
.profile-page{background:#F1F3F6;}
.account-content .menu-block .menu-block-title {
    font-size: 23px;
    color: #000;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    padding:0 0 1em;
}
.account-content .menu-block .menubar{border:0;}
.account-content .menu-block .menubar li{border:0;}
.account-content .menu-block .menubar li a {
  font-size:18px;
  padding: 8px 21px;
}
.account-content .menu-block .menubar li a{
    background: #ddd;
}
.account-content .menu-block .menubar li.active a,.account-content .menu-block .menubar li a:hover{
    color: #fff;
    background: #0995CD;
    text-decoration:none;
}

.profile-page .table table thead th{text-align:center;} 
.main-container-wrapper .product-card .cart-wish-wrap .addtocart{margin:0;border: 1px solid #1ED1BE;}
.cart_count {padding: 3px 0;float: left;color: #000;font-size: 17px;width: 36px;text-align: center;border-radius: 0;border:0;border-top: 4px solid #1ED1BE;}

/******contact us**********/
.contact-form .form-fields,.event-form .form-fields{
border: 1px solid #ddd;
padding: 3em;
}
.contact-mail h4{font-size:20px;margin-top:25px}
.contact-mail h5{font-size:19px}
.contact-mail{font-size:17px}

.products-list{margin:2em 0 0;}
.each-cat{margin:0 0 3em;}

.round-img{background: #F4F4F4;
width: 180px;
height: 180px;
border-radius: 50%;
transition: 0.8s;
display: inline-block;
}
.round-img:hover {
    background: #ddd;
}
a .round-img img {
    opacity: 1;
    width: auto;
    height: auto;
    padding: 0;
    position:relative;top:27%;
}
.cat-title p{margin:10px 0;}



/*****Terms and conditions*******/
.terms-conditions h3{margin:0 0 1em;font-size:30px;}


/**** Vino ****/
.about-page {
	margin: 4em auto;
}
.about-page .sec-left img{width:100%}
.about-page h3 {
	font-weight: bold !important;
	margin-top: 5px;
}
.order-success-content .sale-section .title.col-md-5 {padding-left:0;margin-left:0}
.order-success-content .sale-section.acc-in{padding:0 15px}
.table-orded table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #dadada;
	margin-bottom:1em
}
.table-orded table thead th {
    font-weight: 700;
    padding: 12px 10px;
    background: #1395CD;
    color: #fff;
    vertical-align: middle;
	text-align:center
}
.table-orded table tbody td {
	padding: 10px;
	border-bottom: 1px solid #d3d3d3;
	color: #3a3a3a;
	vertical-align: top;
}
/************responsive***************/

@media screen  and (max-width:991px){
.header .header-bottom,.content-container{padding-top:90px}
.order-success-content .sale-section.acc-in .section-content .col-md-12,
.order-success-content .sale-section{padding:0}
.order-success-content .sale-section.billing-info .secton-title,
.order-success-content .sale-section.billing-info .section-content,
.order-success-content .sale-section.shipping-info .secton-title,
.order-success-content .sale-section.shipping-info .section-content{padding:15px 0}
.order-success-content .sale-section .rows {
	float: left;
	width: 100%;
}
body .btn.navbar-toggle{padding:8px 14px 5px !important;font-size:12px;text-align:center}
.navbar-toggle .icon-bar{width:100% !important}
.navbar-toggle span:last-child{position:relative;top:3px}

.order-success-content .sale-section .title.col-md-5 {
	width: 200px !important;
	float: left;
}
.order-success-content .sale-section .col-md-1,.order-success-content .sale-section .value.col-md-6 {
	float: left;
}
.address-card-1{width:48%}
.footer-bottom .social-icons,.edit-form .control-group{padding:0}
.slider-images li h2{font-size:2.5em}
.slider-images li p{font-size:1.2em}
body .btn.navbar-toggle {
	box-shadow: 0 0 0 !important;
	border: 1px solid #fff !important;
}
.header-top .left-contents{width:62%;position:initial}
.header-top .right-contents{width:auto;float:right}
ul.right-content-menu{float:right;margin:30px auto auto}
.search-box {
	position: relative;
}
  .home-content .home-left h1 {
    font-size: 37px;
    margin: 26px 0 0;
}
.all-categories .each-category:nth-child(3n){border-width:0}
.all-categories .each-category:nth-child(4n){border-width:1px}
.footer .support-sales h3 {
    margin: 1.1em 0;
    font-size: 27px;
}
.footer .support-sales ul li p{margin:12px 0 0;}
.right-content{background:none;padding:0;margin:auto;text-align:center;}
.support-sales ul li, .support-sales ul li:nth-child(4) {
	padding: 0 .91em;
	width: 33%;
	min-height: 125px;
	margin-bottom: 2em;
}
.support-sales ul li:nth-child(3){border:0}
.my-account-section.cust{padding:15px 0;background:none;}
.btn.navbar-toggle{margin:10px 20px 10px 0;box-shadow:0 0 0;border:1px solid #fff !important;float:left}
#logo {
    float: right;
}
.left-contents .navbar-header{padding:0;}
.left-contents{padding: 1em 15px;}
.header .header-top{display:block;}
.navbar-nav{padding:0;}
.nav > li{width:100%;border-bottom:1px dotted #fff;padding:0;}
.navbar-nav > li >a{font-size:18px;}
.nav > li:last-child{border:0;}

.right-content.guest-cust,.left-contents.guest-cust{position: initial}
.left-contents .navbar-header{position:inherit}
.left-contents .navbar-collapse {
	position: absolute;
	left: 0;
	width: 100%;
	top: 85px;
	background: #0995cd;
	padding: 0 6% !important;
	z-index: 9999;
}
.auth-content .login-form .control-group{padding:0;}
table{width:100%;}
.account-table-content table tbody tr td {width: 33%;float: left;}
.account-table-content table tbody tr td:nth-child(2) {text-align: center;}
.checkout-section,.checkout-left,.checkout-right{padding:0 !important;}

.discount-sec,.order-amount{padding:2em 15px !important;}
.order-amount .amount-sec .total-amounts > span{font-size:24px;}
.account-content .account-layout .account-table-content,.account-table-content .form-field,.account-content .account-layout .form-fieldss, .form-fieldss .form-field,.form-field .control-group.col-md-4, .form-field .pass,
.form-field .control-group.col-md-5{padding:0;}
.form-field .control-group textarea.control, .form-field .control-group input.control, .form-field .control-group select.control{width:100%;}
.form-field .control-group.col-md-8, .form-field .cpass,
.form-field .control-group.col-md-8, .form-field .pass{padding:0;}
.edit-form{padding:0;border:0;}
.footer{padding:0;}

.section-head h2{font-size:40px;}
.category-container .category-section .content p{font-size:17px;}
.category-part .all-sec, .all-sec .sec-left, .all-sec .sec-right{padding:0;}
.all-sec .right-text{padding:0;}
.list-item .list-inner.no-bg{padding:0;text-align:left;}
}

.promotion .category-title h3{float:left;margin:0;padding:0 7px 0 0;}
.promotion .category-title h3::after{content:">";padding: 0 12px;font-size: 20px;}
.promotion .category-title h3:last-child::after{content:""}
.add-qty{padding:0 !important;}
.add-qty input{border-radius: 0;border: 1px solid#ddd;padding:6px 8px 5px;text-align: center;}
.social-icons .terms-footer{float: left;color:#fff;padding: 4px 0;font-size:14px}
@media screen and (max-width:767px){
.contact-form .form-fields, .event-form .form-fields{padding:5%}
.header-top-section{height:auto}
.header .header-bottom,.content-container{padding-top:135px;}
.header .search-responsive .search-content .search-sub{padding:10px 20px 7px}
.order-success-content .misc-controls{float: right;width: 100%;margin: 10px auto 20px;}
body .category-nav li, body .category-nav li:first-child {
	margin: 0;
	min-height: inherit;
	min-width: inherit;
	width: 33.333% !important;
	float: left;
	border: 0;
	max-width:inherit
}
.category-nav li a:hover::after,
 .category-nav li.active a::after,
  .events-page .nav-tabs li a:hover::after,
 .events-page .nav-tabs li.active a::after {border:none;opacity:0.5;}
 .category-nav li:hover::after,
 .category-nav li.active::after,
 .events-page .nav-tabs li:hover::after,
 .events-page .nav-tabs li.active::after{border:none;opacity:0.5;}
.account-content .sidebar{margin:10px 0}
.profile_sec label{width:180px}
.about-page .sec-right{margin-top:25px}
.footer-bottom .footer-inner > div{text-align:center;width:100%;padding:0}
.footer-bottom .footer-inner{padding:0}
.social-icons .terms-footer,.social-icons ul{float:none;display:inline-block;margin:10px}
.slider-images li h2{font-size:1.8em}
.slider-images li p{font-size:1em;margin:5px auto}
.btn.navbar-toggle{margin:8px 20px 10px 0}
#header{background:#0995cd}
.left-contents{padding:1em 15px 6px}
.header-top .left-contents{padding-right:0}
.header .header-top div.right-content{padding-left:0}
.hid-mob {
    display: none !important;
}
.header #search-responsive{
	display:block!important;
	position: relative;
	right: 5%;
	top: 0;
	margin: auto auto 10px;
	width: 90%;
	float: right;
}
body .btn.navbar-toggle{padding:8px 6px 5px !important;font-size:10px}
.account-content .account-layout{width:100%;margin:auto auto 2em}
.all-categories .each-category:nth-child(2n){border-width:0 !important}
.all-categories .each-category:nth-child(3n){border-width:1px}
.all-categories .each-category{min-height:220px}
.my-account-section .profile_sec, .my-account-section .cart-dropdown-container {
	display: inline-block;
	margin: 12px;
	font-size: 22px;
}
.cart-link .fa-shopping-cart{font-size:22px}
    .header .header-top div.right-content .right-content-menu .arrow-down-icon,
    .header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-container,
    .header .header-top div.right-content .right-content-menu .name {
        display: none
    }


}
@media screen and (min-width:768px) and (max-width:991px){
  .btn.navbar-toggle{display:block !important;}
  .left-contents .navbar-collapse.collapse{display:none !important;}
  .navbar-collapse.collapse.in{display:block!important}
  .navbar-nav{width:100%;}
  .menu-container.nav li a{padding:10px 13px}
}

@media screen and (max-width:1200px){
.category-nav li, .category-nav li:first-child {
	padding: 0;
	margin: 1%;
	min-height: 155px;
	min-width: 22%;
	width: auto !important;
	float: none;
	border: 1px solid #ddd;
	max-width:23%
}
}
@media screen and (min-width:991px) and (max-width:1200px){
.my-account-section{padding: 1.2em 4px;font-size: 19px;}
.support-sales ul li{padding: 0 .91em;}
.menu-container.nav li a{padding:10px 12px;font-size:20px}
}
@media screen and (max-width:520px){
.order-success-content .sale-section .title.col-md-5,.order-success-content .sale-section .value.col-md-6{padding:0;width:100% !important;margin:2px auto auto}
.order-success-content .sale-section .title.col-md-5{font-weight:bold;margin:15px auto auto}
.order-success-content .sale-section .col-md-1{display:none}
.profile_sec label,.address-card-1{width:100%}
.address-card-1{margin:1% auto}
.profile_sec p{background:transparent;border-bottom:1px solid #eee;padding:10px 0}
body .category-nav li, body .category-nav li:first-child {
	margin: 0;
	min-height: inherit;
	min-width: inherit;
	width: 50% !important;
	float: left;
	border: 0;
	max-width:inherit
}

.all-categories .each-category{padding:0}
.footer-bottom{padding-top:20px}
.support-sales .col-sm-12{padding:0}
.slider-images li h2{font-size:1.5em}
.slider-images .slider-item{min-height:230px;width:auto}
.all-categories .each-category{border-width:0!important;width:100%;min-height:inherit}
.support-sales ul li, .support-sales ul li:nth-child(4){width:50%}
.support-sales ul li:nth-child(2n){border:0}
.support-sales ul li:nth-child(3){border-right:1px solid #ddd}
.my-account-section .hide-520{display:none}
.round-img{width:160px;height:160px}
a .round-img img{top:25%}
.cart-section span:last-child{display:none}
}
@media screen and (max-width:420px){
.header-top .left-contents img{max-width:146px}
.products-list .each-cat{width:100%}
  .main-container-wrapper .product-card,
  .main-container-wrapper .product-card .product-image,
  .main-container-wrapper .product-card .product-information{width:100%;}
.support-sales ul li p{font-size:15px}
.support-sales ul li, .support-sales ul li:nth-child(4){padding:0 0.6em}
.table-orded{margin-left:-25px}
.table-orded table{font-size:15px}
}
@media screen and (max-width:380px){
.header .header-bottom,.content-container{padding-top:135px}
.left-contents .navbar-collapse{top:70px}
.btn.navbar-toggle{margin:auto 10px 10px 0}
ul.right-content-menu{margin:20px auto auto}
.header-top > div{padding-left:5px;padding-right:5px}
.category-nav li a{padding:1em 10px}
.category-nav li a p{font-size:13px}
}
@media screen and (max-width:350px){
.header-top .left-contents{width:auto}
}
@media screen and (max-width:565px){
.main-container-wrapper .product-card{
	max-height:inherit;
}
}
@media screen and (min-width:420px) and (max-width:565px){
  .main-container-wrapper .product-card{width:100%;max-height:inherit}
}

.select-payment{float:left;margin:0 10px 0;}


.order-details{
        margin: 10px auto 2px 0px;
    }
    .order-details-cs{
        margin: 5px auto 2px 0px;
    }
    .account-details{
        margin: 5px auto 2px 0px;
    }
    .shipping-details{
        margin: 2px auto 5px 0px;
    }
	.table table thead th{text-align:center}
	.order-success-content .accordian-content .table table thead th{min-width:10%}
	.order-success-content .sale-section{margin:auto auto 1em;float:left}
	.sale-container .accordian .accordian-header{background:#eee;margin-bottom:2px}
	.order-success-content .sale-container{margin:2em auto 4em}
    .payment-details{
        margin: 1px auto 5px 0px;
    }
    .payment-shipping-info{
        margin: 2px auto 5px 0px;
        display: flex;
    }
    .payment-details-cs{
        margin: 2px auto 1px 0px;
    }
    .sale-summary{
        float: right;
        margin: 2% 10px 10px auto;
    }
    .sale-container .sale-section .secton-title 
    {
        font-size: 20px;
        color: #8e8e8e;
        padding: 15px 10px;
        border-bottom: 1px solid #e6e2e2;
    }

    .sale-container .sale-section .section-content 
    {
        display: block;
        padding: 20px 10px;
		border:0;
		float:left;
		width:100%
    }
    .billing-addr{
        display: contents;
    }
    .payment-addr{
        display : contents;
    }
    @media (max-width: 991px){
	.my-account-section{background:transparent;font-size:16px}

        .order_account-responsive{
            width :100%;
            display: block;
            margin : 10px;
        }
        .order-info{
            width: 100%;
            margin: 10px;
        }
        .account-info{
            width: 100%;
            margin-left: 10px;
        }
        .billing-addr{
            width :100%;
            display: block;
            margin : 10px;
        }
        .payment-addr{
            width :100%;
            display: block;
            margin : 10px;
        }
        .shipping-info{
            width: 100%;
            margin: 10px;
        }
        .billing-info{
            width: 100%;
            margin: 10px;
        }
        .payment-info{
            width: 100%;
            margin: 10px;
        }
        .payment-details-cs{
            margin : 10px 10px 10px 10px;
        }
        .payment-details{
            margin : 10px 10px 10px 10px;
        }

    }

.loading-notify{
    display: block;
margin: 10px;
float:right;
z-index:1;
position:absolute;
bottom:0;
right:0;
}

.panel-default > .panel-heading{padding:0;}
.panel-heading a{padding:10px 15px;float:left;width:100%;background:#f5f5f5;}


/*lightbox popup css**/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1600;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white !important;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#app{position:relative;}
.overlay-checkout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1999;
    content: "Please wait... We are processing your payment and this may take few seconds.";
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 21px;
    text-align: center;
}

.header-fixed{position:fixed;z-index:9999;top:0}

.checkout-products th,
.checkout-products td{
 padding: 15px 0px;
text-align: center;
}
.ytp-hide-controls .ytp-watermark{display: none !important;}
.html5-video-player:not(.ytp-big-mode) .ytp-chrome-top .ytp-copylink-button{display:none;}
